<nav>
    <h1>Hi.</h1>
    <a href="/">
        <img src="/logo.png" id="logo" alt="Blog logo"/>
    </a>

    <h2>{{ site.theme.name }}</h2>
    <hr/>
    <ul>
        <p>简介和说明</p>
        <h4>文章分类</h4>
        <ul>
            {% for category in site.categories %}
            <li><a href="/{{ category | first }}">{{ category | first }} ({{ category | last | size }})</a>
            </li>
            {% endfor %}
        </ul>
        <hr/>
        <div>
            <div id="social">
                {% include social.html %}
            </div>
        </div>
    </ul>
</nav>

